.input-field {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 0.5em;
  margin: 0 auto 1.5rem auto;
  font-size: 1.2rem;
  border: 3px solid #007bff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:hover,
.input-field:focus {
  border-color: #0056b3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.input-field::placeholder {
  color: #999;
}

.change-button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-button:hover {
  background-color: #0056b3;
}

.clear-button {
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: #ff6961;
  color: white;
  border: 3px solid #007bff;
  border-radius: 5px;

  cursor: pointer;
  margin-left: 10px;
}

.clear-button:hover {
  background-color: #ff5c5c;
}

.clear-button:hover,
.clear-button:focus {
  border-color: #0056b3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}
