.App {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 2rem;
  /* color: #fff; */
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  border: 0;
  margin: 20px;
  cursor: pointer;
}
